@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Whisper&display=swap');

:root {
    --color-zero: #F7F2EC;
    --color-one: #DBC4A2;
    --color-two: #8A7E6D;
    --color-three: #191919;
    --color-four: #BFA2DB;
    --color-five: #634283;
}

*{
    margin: 0;
}
.body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-one);
    color: var(--color-three);
}
.header {
    background-color: var(--color-two);
    padding: 2%;
    font-weight: 600;
}
.header__nav {
    display: flex;
    gap: 40px;
}
.header__nav__link {
    text-align: center;
    text-decoration: none;
    color: var(--color-one);
}

.main {
    display: flex;
    flex-direction: column;
}
.main__pt1 {
    background-color: var(--color-three);
    display: flex;
    flex-direction: row;
    padding: 10% 5%;
}
.main__cont {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.main__title {
    color: var(--color-one);
    font-family: 'Whisper', cursive;
    font-size: 2.5rem;
    text-align: center;
}
.main__text {
    color: var(--color-two);
    font-size: 1.1rem;
    font-weight: 400;
    text-align: justify;
}
.main__img {
    padding: 2%;
    size-adjust: 50%;
    border-radius: 50%;
    height: 25%;
    width: 25%;
}
.main__contact {
    background-color: var(--color-three);
    padding: 2%;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.main__contact__link {
    font-size: 1rem;
    border: 2px solid var(--color-zero);
    border-radius: 300px;
    width: 150px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--color-one);
}
.main__link:hover {
    background-color: #634283;
}
.main__skill {
    background-color: var(--color-four);
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 20px;
}
.main__skill__title {
    padding: 1% 1.5%;
    display: flex;
    justify-content: center;
    color: var(--color-zero);
}
.skill__tree {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
.tree__item {
    color: var(--color-zero);
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo {
    max-width: 5%;
    max-height: 5%;
}
.logo__flag {
    max-width: 10%;
    max-height: 10%;
}
.html__log {
    width: 40px;
    height: 50px;
}

.footer {
    background-color: var(--color-one);
    padding: 1.5%;
}
.footer__text {
    color: var(--color-two);
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Project Page */

.main__pt1__project {
    background-color: var(--color-three);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Cellphone view */
@media (max-width: 1200px) {
    .header {
        display: flex;
        justify-content: center;
    }
    .main__pt1 {
        flex-direction: column-reverse;
        padding: 5%;
        align-items: center;
    }
    .main__cont {
        width: auto;
    }
    .main__img {
        padding: 2%;
        size-adjust: 50%;
        border-radius: 50%;
        height: 40%;
        width: 40%;
    }
    .main__about {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .main__about__cont {
        width: auto;
    }
    .logo {
        max-width: 10%;
        max-height: 10%;
    }
    .logo__flag {
        max-width: 15%;
        max-height: 15%;
    }
}
